#non essential folder; "/" implies "in each subfolder"  
Ampt-v1.26t9b-v2.26t9b/

Ampt-v1.26t9b-v2.26t9b/ana
.vscode/

#c++ executable file "*-wild card" implies for all file names ending with exe
*.exe

*.txt

*.ini

*.root

